<!DOCTYPE html>
<html>

<head>
    <title>Peticiones Pendientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<header class="bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <img src="https://i.imgur.com/z4gMSNl.png" alt="Logo" style="width: 80%; height: 30%;">
        </div>
        <div>
            <h1>Sistema de manejo de peticiones</h1>
            <p>Bienvenido a la pantalla de manejo de peticiones</p>
        </div>
    </div>
</header>
<nav class="navbar navbar-light bg-secondary">
    <div class="container">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}" style="font-weight: 700;">Cerrar Sesión</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Peticiones Pendientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Fecha</th>
                    <th>CI</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Justificación</th>
                    <th>Motivo</th>
                    <th>Descripción</th>
                    <th>Actiones</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for permiso in permisos %}
                <tr>
                    <td>{{ permiso.permiso.id }}</td>
                    <td>{{ permiso.permiso.fecha }}</td>
                    <td>{{ permiso.estudiante.ci }}</td>
                    <td>{{ permiso.estudiante.email }}</td>
                    <td>{{ permiso.estudiante.name }}</td>
                    <td>{{ permiso.estudiante.apellido }}</td>
                    <td>
                        {% if permiso.permiso.justificacion %}
                        <a href="{{ permiso.permiso.justificacion.url }}" target="_blank">Ver PDF</a>
                        {% else %}
                        No PDF
                        {% endif %}
                        {% if permiso.permiso.justificacion2 %}
                        <br>
                        <a href="{{ permiso.permiso.justificacion2.url }}" target="_blank">Ver PDF</a>
                        {% endif %}
                    </td>
                    <td>{{ permiso.permiso.motivo }}</td>
                    {% if permiso.permiso.comentario != ' ' and permiso.permiso.comentario != "Null" %}
                    <td>{{ permiso.permiso.descripcion }}<br>
                        <strong>Comentario: </strong> {{ permiso.permiso.comentario}}
                    </td>
                    {% else %}
                    <td>{{ permiso.permiso.descripcion }}</td>
                    {% endif %}
                    <td>
                        <style>
                            .custom-width-btn {
                                width: 90px;
                                /* Puedes ajustar este valor según tus necesidades */
                            }
                        </style>
                        <div class="d-flex flex-column mr-5">
                            <form method="post" action="{% url 'petition_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name='permisoid_solicitud'
                                    value="{{ permiso.permiso.id_solicitud }}">
                                <button type="submit" name='status' value='Aceptado'
                                    class="btn btn-success btn-sm custom-width-btn">Aceptar</button>
                            </form>
                            <form method="post" action="{% url 'petition_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name='permisoid_solicitud'
                                    value="{{ permiso.permiso.id_solicitud }}">
                                <button type="submit" name='status' value='Rechazado'
                                    class="btn btn-danger btn-sm mt-2 custom-width-btn">Rechazar</button>
                            </form>
                            <form method="post" action="{% url 'petition_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name='permisoid_solicitud'
                                    value="{{ permiso.permiso.id_solicitud }}">
                                <button type="submit" name='status' value='Observado'
                                    class="btn btn-info btn-sm mt-2 custom-width-btn">Observado</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" id="observacion{{ permiso.permiso.id }}"
                                value="{{ permiso.permiso.observacion }}" style="width: 300px;margin-bottom: 10px;">
                            <!-- Adjust the width as needed -->
                            <div class="input-group-append">
                                <button class="btn btn-primary update-observation"
                                    data-petition-id="{{ permiso.permiso.id }}">Update</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Add a new row to display subjects and hours -->
                <tr>
                    <td colspan="12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Materias</th>
                                    <th>hora Inicio</th>
                                    <th>hora Fin</th>
                                    <th>Fecha licencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through subjects within the 'permiso' object -->
                                {% for materia in permiso.materias %}
                                <tr>
                                    <td>{{ materia.materia }}</td>
                                    <td>{{ materia.horaInicio }}</td>
                                    <td>{{ materia.horaFin }}</td>
                                    <td>{{ materia.fecha }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <hr style="border-top: 5px solid #000;">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function () {
                // Add click event listener to the subject-toggle buttons
                $(".subject-toggle").click(function () {
                    // Find the corresponding subject div using data-target attribute
                    var targetId = $(this).data("target");
                    // Toggle the visibility of the subject div with a smooth transition
                    $(targetId).collapse("toggle");
                    // Toggle the button text between "Show Subjects" and "Hide Subjects"
                    $(this).find('span').text(function (_, text) {
                        return text === "Show Subjects" ? "Hide Subjects" : "Show Subjects";
                    });
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                // Add click event listener to the update-observation buttons
                $(".update-observation").click(function () {
                    // Get the petition ID from the data-petition-id attribute
                    var petitionId = $(this).data("petition-id");
                    // Get the observation value from the corresponding input field
                    var observationValue = $("#observacion" + petitionId).val();
                    // Show a confirmation message
                    var confirmationMessage = "Observación para petición #" + petitionId + " actualizada.";
                    alert(confirmationMessage);
                    // Send an AJAX request to update the observation in the model
                    $.ajax({
                        type: "POST",
                        url: "{% url 'petition_list' %}",
                        data: {
                            _method: "put",
                            petition_id: petitionId,
                            observation: observationValue,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        success: function (response) {
                            // Optionally, you can handle the success response here
                            // For example, display a success message
                            console.log("Observation updated successfully.");
                        },
                        error: function (xhr, status, error) {
                            // Handle errors here if needed
                            console.error("Error updating observation:", error);
                        },
                    });
                });
            });
        </script>
    </div>
</body>

</html>